/* Reset some default browser styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Job card styles */
.job-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.job-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job-description {
    margin-bottom: 10px;
    font-size: 16px;
}

.job-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.apply-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #0056b3;
}


/*      */
/* Style the container for the message */
.no-jobs {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    text-align: center;
}

/* Style the message text */
.no-jobs h1 {
    font-size: 24px;
    color: #333;
}
