{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/style3.css' %}">
    <title>forgot_password</title>
</head>
<body>
    <h1>Please enter your email</h1>
    <form method="post" action="{% url 'user:find_email' %}" >
    {% csrf_token %}
    <input type="email" name="email" id="email">
    <br>
    <input type="submit" name="" id="">
    </form>
</body>
</html>