{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/style1.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Auth</h1>
    <form action="{% url 'user:index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}  
        {{ form.as_p }}  
        <a href="{% url 'user:login' %}">Login</a>
        <input type="submit" name="" id="">
    </form>
</body>
</html>